/*  your css code here. If applicable */
#table-1 {
    border: 1px solid black; /* Table Borders: 1px solid black */
    border-collapse: collapse; /* Ensure borders are collapsed */
    border-spacing: 1px; /* Spacing: 1px */
  }
  
  #table-1 td {
    padding: 1px; /* Cell Padding: 1px */
    border: 1px solid black; /* Border for table cells */
  }
  #table-2 {
    border: 1px solid black; /* Table Borders: 1px solid black */
    border-collapse: collapse; /* Ensure borders are collapsed */
    border-spacing: 1px; /* Spacing: 1px */
  }
  
  #table-2 td {
    padding: 1px; /* Cell Padding: 1px */
    border: 1px solid black; /* Border for table cells */
  }
  
  #table-3 {
    border: 1px solid black; /* Table Borders: 1px solid black */
    border-collapse: collapse; /* Ensure borders are collapsed */
    border-spacing: 1px; /* Spacing: 1px */
  }
  
  #table-3 td {
    padding: 1px; /* Cell Padding: 1px */
    border: 1px solid black; /* Border for table cells */
  }
  #g{
    background-color: green;
  }
  #b{
    background-color: blue;
  }
  