/*  your css code here. If applicable */
.middle {
    border: 1px solid black; /* Table Borders: 1px solid black */
    border-collapse: collapse; /* Ensure borders are collapsed */
    border-spacing: 1px; /* Spacing: 1px */
  }
  
  .middle td {
    padding: 1px; /* Cell Padding: 1px */
    border: 1px solid black; /* Border for table cells */
  }
  #g{
    background-color: green;
  }
  #b{
    background-color: blue;
  }
  